<a href="https://colab.research.google.com/github/chiku1279/sudhanshu1/blob/main/SUDHANSHU_SINGH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

In [ ]:
a=5
b=10
c=a+b
print(c)

15

In [ ]:
n=int(input("Enter any number"))
r=n**0.5
print("the square root of",n,"=",r)

Enter any number6
the square root of 6 = 2.449489742783178

In [ ]:
a=int(input("enter side a:\n"))
b=int(input("enter side b:\n"))
c=int(input("enter side c:\n"))
p=(a+b+c)
s=p/2
area=(s*(s-a)*(s-b)*(s-c))**(0.5)
print("the area of triange=",area)

enter side a:
3
enter side b:
4
enter side c:
5
the area of triange= 6.0

In [ ]:
a=float(input("enter a"))
b=float(input("enter b"))
c=float(input("entere c")) 
d=(b*b)-4*(a*c) 
x=(-b+d**0.5)/2*a 
y=(-b-d**0.5)/2*a
print(x)
print(y)

enter a3
enter b4
entere c6
(-5.999999999999999+11.224972160321824j)
(-6.000000000000002-11.224972160321824j)

In [ ]:
a=int(input("enter a :"))
b=int(input("enter b :"))
t=a                                  #swap with using third variable
a=b
b=t
print("after swapped a is equal to",a,"and b is equal to",b)

enter a :2
enter b :3
after swapped a is equal to 3 and b is equal to 2

In [ ]:
a=int(input("enter a :"))
b=int(input("enetr b :"))
a=a+b                             #swap without using third variable
b=a-b
a=a-b
print("after swap a is equal to",a,"and b is equal to",b)

enter a :2
enetr b :4
after swap a is equal to 4 and b is equal to 2

In [ ]:
import random
n=random.randint(10,20)
print(n)

12

In [ ]:
n=float(input("Enter in kilmeter:"))
r=n*0.621371
print(n,"kilometer =",r,"miles")

Enter in kilmeter:2
2.0 kilometer = 1.242742 miles

In [ ]:
c=float(input("Enter temp in celcius"))
f=(1.8*c)+32
print("Temperature in celcius =",f,"fahreheit")

Enter temp in celcius40
Temperature in celcius = 104.0 fahreheit

In [ ]:
n=int(input("enter any number:"))
if(n>0):
  print("Positive  +\n")
elif(n<0):
  print("Negetive  -\n")
else:
  print("Zero  0\n")

enter any number:-4
Negetive  -

In [ ]:
n=int(input("Enter any number"))
r=n%2
if(r==0):
  print("Even")
else:
  print("Odd")

Entter any nymber5
Odd

In [ ]:
n=int(input("Enter a year:"))
if(n%4==0):
  if(n%100==0):
    if(n%400==0):
      print("Leap year")
    else:
      print(" not a Leap year")
  else:
    print(" leap year")
else:
  print(" not a Leap year")

Enter a year:2400
Leap year

In [ ]:
a=int(input("enter A:\n"))
b=int(input("enter B:\n"))
c=int(input("enter C:\n"))
if(a>b):
  if(a>c):
    print("A is greatest")
  else:
    print("C is greatest")
elif(b>c):
  print("B is greatest")
else:
  print("C is greatest")

enter A:
5
enter B:
9
enter C:
1
B is greatest

In [ ]:
n=int(input("Enter any number:"))
if n>1:
  for i in range(2,n):
      if n%i==0:
        print("Not a prime")
        break
  else:
    print("Prime")
else:
  print("not a prime")

Enter any number:21
Not a prime

In [ ]:
n=int(input("Enter any number"))
c=1
for i in range(1,n+1):
  c=c*i
print(c)

Enter any number5
120

In [ ]:
n=int(input("Entre any number"))
c=1
for i in range(1,11):
  c=n*i
  print(n,"*",i,"=",c)

Entre any number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
n=int(input("ENter any number"))
a=0
b=1
if(n<=0):
  print("PLese enter valid number")
elif(n==1):
  print(a,end="  ")
elif(n>=2):
  print(a)
  print(b)
  for i in range(2,n):
    c=a+b
    print(c)
    a=b
    b=c

ENter any number5
0
1
1
2
3

In [ ]:
n= int(input("Enter a number: "))
sum = 0
t = num
while t> 0:
   d = t % 10
   sum += d ** 3
   t //= 10
if n == sum:
   print(n,"is an Armstrong number")
else:
   print(n,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
n=int(input("Enter number upto which sum is reqired"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

Enter number upto which sum is reqired5
15

In [ ]:
n = int(input("Enter number of terms "))
s = list(map(lambda x: 2 ** x, range(n)))
for i in range(n):
   print("2 raised to power",i,"is",s[i])

Enter number of terms 5
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16

In [ ]:
n=int(input("enter any number"))
for  i in range(1,n):
  if(i%2==0):
    print(i)

enter any number5
2
4

In [ ]:
n=int(input("ENter any number :"))
print("The decimal value of", n, "is:")
print(bin(n), "binary.")
print(oct(n), " octal.")
print(hex(n), " hexadecimal.")

ENter any number :10
The decimal value of 10 is:
0b1010 in binary.
0o12 in octal.
0xa in hexadecimal.

In [ ]:
n=input("Enter any character")
print("The ascii value of",n,"=",ord(n))

Enter any characterA
The ascii value of A = 65

In [ ]:
a=int(input("enter a"))
b=int(input("enter b"))
if a>b:
  s=b
else:
  s=a
for i in range(1,s+1):
  if((a%i==0)and(b%i==0)):
    gcd=i
print("gcd/hcf=",i)

enter a20
enter b10
gcd/hcf= 10

In [ ]:
a=int(input("enter a"))
b=int(input("enter b"))
if(a>b):
  m=a
else:
  m=b
while(1):
  if((m%a==0)and(m%b==0)):
    print("LCM=",m)
    break;
  m=m+1

enter a10
enter b12
LCM= 60

In [ ]:
n=int(input("enetr any number"))
for i in range(1,n+1):
  if(n%i==0):
    print(i)

enetr any number12
1
2
3
4
6
12

In [ ]:
n=int(input("Enter your choise 1-Adittion , 2-Substration , 3-Multiplication ,4-Division"))
a=int(input("Enter a"))
b=int(input("Enter b"))
if(n==1):
  print("Addition")
  r=a+b
  print(r)
elif(n==2):
  print("Substraction")
  r=a-b
  print(r)
elif(n==3):
  print("Multiplication")
  r=a*b
  print(r)
elif(n==4):
  print("Division")
  r=a/b
  print(r)
else:
  print("Wrong choise")

Enter your choise 1-Adittion , 2-Substration , 3-Multiplication ,4-Division3
Enter a3
Enter b5
Multiplication
15

In [ ]:
import calendar
y=int(input("Enter a year"))
m=int(input("Enter  a month"))
print(calendar.month(y,m))

Enter a year2020
Enter  a month3
     March 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [ ]:
def Fab(n):  
   if n <= 1:  
       return n  
   else:  
       return(Fab(n-1) + Fab(n-2))  
n = int(input("Enter the terms? "))   
if n <= 0:  
   print(" enter a positive integer")  
else:  
   print("Fibonacci sequence:")  
   for i in range(n):  
       print(Fab(i))

Enter the terms? 5
Fibonacci sequence:
0
1
1
2
3

In [ ]:

def ns(n):
   if n==1:
       return n
   else:
       return (n + ns(n-1))
num = int(input("Enter a number: ")) 
if num < 0:
   print("Enter a positive number")
else:
   print("The sum is",ns(num))

Enter a number: 5
The sum is 15

In [ ]:
def facto(n):  
   if n == 1:  
       return n  
   else:  
       return (n*facto(n-1))   
n = int(input("Enter a number: "))  
if n < 0:  
   print("enter positive no")  
elif n== 0:  
   print("The factorial of 0 is 1")  
else:  
   print(facto(num))

Enter a number: 5
120

In [ ]:
def binary(n):
  if(n==0):
    return 0
  else:
    binary(int(n/2))
    print(n%2,end="")
n=int(input("Enter no"))
binary(n)

Enter no5
101

In [ ]:
n=input("Enter a string")
s=n[::-1]
if(n==s):
  print("Palindrome")
else:
  print("not palindrome")

Enter a stringmadam
Palindrome

In [ ]:
a = {0, 2, 4, 6, 8};
b = {1, 2, 3, 4, 5};
print("Union of a and b is",a | b)
print("Intersection of a and b is",a & b)
print("Difference of a and b is",a - b)
print("Symmetric difference of a and b is",a ^ b)

Union of a and b is {0, 1, 2, 3, 4, 5, 6, 8}
Intersection of a and b is {2, 4}
Difference of a and b is {0, 8, 6}
Symmetric difference of a and b is {0, 1, 3, 5, 6, 8}

In [ ]:
for i in range(4):
  for j in range(i+1):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

In [ ]:
a={1,2,3,4}
b={5,6,7,8}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
        2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
print(a[1]['name'])
print(a[1]['age'])
print(a[1]['sex'])

John
27
Male

In [ ]:
s=['a','b','c','d']
for i in range(len(s)):
  print("at index",i,s[i])

at index 0 a
at index 1 b
at index 2 c
at index 3 d

In [ ]:
a=[[1,2,3],[4,5,6],[7,8,9]]
fl = [num for sublist in a for num in sublist]
print(fl)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=[1,2,3,4,5,6,7]
print(a[2::])

[3, 4, 5, 6, 7]

In [ ]:
a=[1,2,3,4,5,6,7]
print(a[:4:])

[1, 2, 3, 4]

In [ ]:
a=[1,2,3,4,5,6,7]
print(a[::-1])

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
a={'name-':'chiku','branch-':'cs','age-':'21'}
for key in a:
  print(key,a[key])

name- chiku
branch- cs
age- 21

In [ ]:
age={'ram':55,'shyam':20,'chiku':36}
for i in sorted(age,key=age.get):
  print(i,age[i])

shyam 20
chiku 36
ram 55

In [ ]:
a=[2,3,4,5]
if not  a:
  print("List is empty")
else:
  print("LIst is not empty")

LIst is not empty

In [ ]:
try:
  a=100
  b=0
  q=a/b
  print(q)
except division_error:
  print("divison is not perfrmed")iku

NameError: ignored

In [ ]:

a=['chiku','ram']
b=[2,4]
c=a+b
print(c)

['chiku', 'ram', 2, 4]

In [ ]:
a={'name':'chiku','class':'cs1','age':'21'}
n=input("ENter any key")
if n in a:
  print("key is present")
else:
  print("Key is Not present")

ENter any keybranch
Not present

In [ ]:
n=int(input("ENter in  how many chunk divided"))
l = [1,2,4,5,6,9,0,34,56,89,31,42]
[l[i:i + n] for i in range(0, len(l), n)]

ENter in  how many chunk divided5

[[1, 2, 4, 5, 6], [9, 0, 34, 56, 89], [31, 42]]

In [ ]:
a=293.344
print(float(a),type(a))
print(int(a),type(a))

293.0 <class 'int'>
293 <class 'int'>

In [ ]:
a=[2,3,4,1]
for i in a[3:4:]:
  print(i)

1

In [ ]:
n=input("ENter a string :")
for i in range(len(n)):
  for j in range(i+1,len(n)+1):
    print(n[i:j])

ENter a string :chiku
c
ch
chi
chik
chiku
h
hi
hik
hiku
i
ik
iku
k
ku
u

In [3]:
s=input("Enter a string")
for i in s:
  print(i,end="")

Enter a stringchiku
chiku

In [9]:
l=[2,4,3,1,5]
import random
n=random.randint(0,len(l))
print(l[n])

1

In [16]:
numbers = [2,3,3,5,1,2,5]
n=int(input("ENter a no"))
count = numbers.count(n)


print('Count of ',n, count)

ENter a no5
Count of  5 2

In [18]:
a={ 'name':'chiku','branch':'cs','college':'siet','age':'21'}
a.pop("age")
print(a)

{'name': 'chiku', 'branch': 'cs', 'college': 'siet'}

In [19]:
a=''' My name is sudhnshu singh 
     i am from kanpur
     how are you'''
print(a)

 My name is sudhnshu singh
     i am from kanpur
     how are you

In [22]:
import time
s = time.time()
print("chiku")
e = time.time()
print(e - s)

chiku
0.0032694339752197266

In [27]:
l1 = ["chiku", "singh", "moh"]
l2 = [20, 12, 50]
print("List 1 : ", l1)
print("list 2 : ", l2)
d= {l1[i]: l2[i] for i in range(len(l1))}
print("list to dict    ",d)

List 1 :  ['chiku', 'singh', 'moh']
list 2 :  [20, 12, 50]
Dictionary from lists    {'chiku': 20, 'singh': 12, 'moh': 50}

In [31]:
n="  sudhanshu singh  "
print(n.strip())

sudhanshu singh